@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.hidden {
	visibility: hidden;
	display: none !important;
}

.sans-serif {
	font-family: font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.serif {
	font-family: 'Roboto Slab', serif;
}

.monospace {
	font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

html, body, #wrapper {
	width: 100%;
	height: 100%;
}

a {
	text-decoration: none;
	color: rgba(175, 155, 0, 1);
}

pre {
	font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Slab', serif;
}

body {
	background: linear-gradient(rgba(240, 240, 240, 0.5), rgba(240, 240, 240, 1)), rgba(240, 240, 240, 1);
	background-repeat: repeat-x;
	color: rgba(50, 50, 50, 1);
}

#wrapper {
	font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-size: 0.2in;
}

#wrapper ::selection {
	background-color: rgba(255, 215, 0, 0.8);
	color: rgba(10, 41, 114, 1);
}

#page-header {
	display: block;
	z-index: 1000;
	top: 0;
	width: 100%;
	background: rgba(245, 245, 245, 0.9);
	border-bottom: solid 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
	margin: 0 auto;
	-webkit-user-select: none;
}

#logo {
	display: inline-block;
	width: 0.6in;
	height: 0.6in;
	overflow: hidden;
	font-size: 1em;
	line-height: 5em;
	text-align: center;
	text-indent: 100%;
	white-space: nowrap;
	background: url('../images/logo.png');
	background-repeat: no-repeat;
	background-size: 90% 90%;
	background-position:center;
}

#navbar {
	display: inline;
	position: absolute;
	top: 1em;
	height: 1.5em;
}

#navbar ul {
	list-style-type: none;
}

#navbar ul li {
	display: inline;
}

#navbar ul li a {
	text-decoration: none;
	padding: 0.9em 1em;
	color: rgba(10, 41, 114, 1);
	transition: text-shadow 0.2s ease-in-out, color 0.2s ease-in-out, border-bottom 0.02s ease-in-out, background 0.1s ease-in-out;
	font-weight: 600;
	border-bottom: 2px rgba(0, 100, 255, 0) solid;
	background: rgba(255, 255, 255, 0);
}

#navbar ul li a.current-page {
	color: rgba(10, 91, 254, 1);
}

#navbar ul li a:hover {
	background: radial-gradient(circle, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
	border-bottom: 2px rgba(0, 100, 255, 1) solid;
}

#page-content {
	display: block;
	position: relative;
	top: 0.2in;
	margin-top: 10em;
	max-width: 10in;
	margin: 0 auto;
	z-index: 999;
	background: white;
	padding: 1em;
	border: 1px solid rgba(127, 127, 127, 0.05);
	box-shadow: 0 3px 5px rgba(127, 127, 127, 0.5);
}

#page-content h1 {
	color: #26336d;
}

#footer {
	margin-top: 2em;
	font-size: 0.6em;
	text-align: center;
	opacity: 0.3;
	-webkit-user-select: none;
}